## Using INSERT INTO

In [2]:
import psycopg2

In [3]:
import csv

In [56]:
conn = psycopg2.connect("host=localhost dbname=rani user=rani password=123456")

In [57]:
cur = conn.cursor()

In [58]:
cur.execute('''CREATE TABLE IF NOT EXISTS latihan_users_RANI(
            id serial PRIMARY KEY,
            email text,
            name text,
            phone text,
            postal_code text
            )
            '''
           )

In [59]:
cur.execute("select table_name from information_schema.tables where table_schema='public'")

In [60]:
tbl = cur.fetchall()

In [61]:
for name in tbl:
    print(name[0])

test
latihan_users_rani

In [62]:
with open('users_w_postal_code.csv') as f:
    csv_reader = csv.reader(f, delimiter=",")
    next(csv_reader)
    for row in csv_reader:
        cur.execute("INSERT INTO latihan_users_RANI VALUES(default, %s, %s, %s, %s) ON CONFLICT DO NOTHING", row)

In [63]:
cur.execute('select * from public.latihan_users_RANI')

In [64]:
lt = cur.fetchall()

In [65]:
for name in lt:
    print(name)

(1, 'feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
(2, 'morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
(3, 'tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
(4, 'vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
(5, 'nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')

## Using COPY_FROM

In [66]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [103]:
import psycopg2

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="rani",
    user="rani",
    password="123456"
)

cur = conn.cursor()

In [104]:
cur.execute("""
            CREATE TABLE IF NOT EXISTS latihan_rani_2 (
                email VARCHAR(255),
                name VARCHAR(255),
                phone VARCHAR(255),
                postal_code VARCHAR(10)
            )
        """.format(table_name=table_name))
conn.commit()

In [105]:
cur.execute("select table_name from information_schema.tables where table_schema='public'")

In [106]:
tbl = cur.fetchall()

In [107]:
for name in tbl:
    print(name[0])

test
latihan_rani_2

In [108]:
# Specify the path to the CSV file
csv_file = 'users_w_postal_code.csv'

with open(csv_file, 'r') as f:
    next(f)
    cur.copy_from(f, 'latihan_rani_2', sep=',', columns=('email', 'name', 'phone', 'postal_code'))

# Commit the changes to the database
conn.commit()

In [109]:
cur.execute("SELECT * FROM latihan_rani_2")

In [110]:
lt = cur.fetchall()

In [111]:
for name in lt:
    print(name)

('feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
('morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
('tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
('vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
('nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')
('feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
('morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
('tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
('vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
('nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')

## Using Pandas to_sql

In [118]:
engine = create_engine('postgresql://rani:123456@localhost:5432/rani')

In [119]:
test = pd.read_csv('users_w_postal_code.csv')

In [120]:
test

,email,name,phone,postalZip
0,feugiat.metus@yahoo.edu,Jackson Boyer,1-326-267-1884,56-066
1,morbi@hotmail.org,Devin Wolfe,(315) 718-9194,572037
2,tempor.augue@google.couk,Dennis Blackwell,1-433-880-4656,51433
3,vulputate.posuere.vulputate@protonmail.couk,Maggie Hawkins,(779) 331-8323,965863
4,nisi.magna@google.couk,Oleg Hall,1-208-578-4206,80756

In [124]:
test.to_sql("latihan_rani_4",engine)

5

In [125]:
table_names = engine.table_names()

/tmp/ipykernel_6238/2273142574.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names = engine.table_names()

In [126]:
# Print the table names
for table_name in table_names:
    print(table_name)

test
latihan_rani_2
latihan_rani_3
from_file_tbl
latihan_rani_4

In [133]:
query = "SELECT * FROM latihan_rani_4"
result = engine.execute(query)

In [134]:
data = result.fetchall()
df = pd.DataFrame(data, columns=result.keys())

In [135]:
df

,index,email,name,phone,postalZip
0,0,feugiat.metus@yahoo.edu,Jackson Boyer,1-326-267-1884,56-066
1,1,morbi@hotmail.org,Devin Wolfe,(315) 718-9194,572037
2,2,tempor.augue@google.couk,Dennis Blackwell,1-433-880-4656,51433
3,3,vulputate.posuere.vulputate@protonmail.couk,Maggie Hawkins,(779) 331-8323,965863
4,4,nisi.magna@google.couk,Oleg Hall,1-208-578-4206,80756